.navbar{
  display:flex;
  justify-content: space-between;
 
 

  background-color:black;
  box-shadow:2px 2px 12px rgba(192, 186, 186, 0.2);
  padding:0px 10%;
  border: white;
  margin-bottom: -5%;
}
.navbar-header{
  margin: 1.5em;
  font-weight: bold;
 

}
.navbar-brand{
    font-family: Ani;
    
   
}
.navbar-header a{
    margin-left: 5%;
    margin-right: 80%;
}
  
  

.nav{
  font-weight: bold;
  justify-content: space-between;   
 
}
nav li{
  margin: 1.5em;
  font-family: impact;

}
body, html {
  height: 100%;
}
.getIt{
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/panu.jfif');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-attachment: fixed;
  margin-bottom: 2%;;
}
.getIt h3{
  color: white;
  text-align: center;
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  border: 5px solid white;
  padding: 1%;
  font-family: impact;
 
}
.container h2{
  text-align: center;
  margin-bottom: 3%;
  font-family: impact;
}
.row h3{
  font-family: impact;

}
.col-sm-6 img{
  width:100%;
  height: 100%;
}
.col-sm-6 p{
  height: 100%;
}
.container{
  margin-bottom: 2%;
  
}
.general{
  text-align: center;
  color: white;
}
.smallP{
  text-align: center;
  color: white;
}
#pics{
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/aho.jfif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  background-attachment: fixed;
  margin-bottom: 2%;;
}
#pics h2{
  color: white;
}
.medium{
  text-align: center;
  color: white;

}
.large{
  text-align: center;
  color: white;

}
.chooseSize option{
  width: 30%;

}
#orders{
  margin-top: 2%;
}
#formFull{
  margin-left: 20%;
  margin-right: 20%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/drop.jpg");
  padding: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  
}
.form-group label{
  text-align: center;
  color: white;
}
#show-contact {
  display: none;
}
.contact {
  cursor: pointer;
  color: #0088cc;
}
.contact:hover {
  text-decoration: underline;
}
.results{
  text-align: center;
  display: none;
  justify-content: center;
}
#formD{
  margin-left: 20%;
  margin-right: 20%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/drop.jpg");
  padding: 5%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.DeliverNotes{
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  border-radius: 30%;
  margin-bottom: 2%;
 
}
.DeliverNotes button{
  background-color: #337AFF;
  color: white;
  padding: 3%;
}
#subm{
  background-color: #337AFF ;
  color: white;
}
#formD{
  display: none;
}
#formD p{
  text-align: center;
  font-size: 120%;
}
.jumbotron{
  background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/media.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60%;
  
}
.theForm{
  padding: 2%;
  margin-right: 20%;
  margin-left: 20%;
}
.theForm h2{
  color:white;
  margin-bottom: 2%;
}
#inName input,
#inEmail input,
#inMessage input{
  background:none;
  border: gray groove;
  color: #ffffff;
}
.form-group textarea{
  background: none;
  border:gray groove;
  color: #ffffff;
  width: 90%;

}
.iconz a{
  margin:20px 10px;  
}
.iconz i{
  color:white;
  align-items: center;
  

}

.iconz a:hover{
  box-shadow:2px 2px 12px rgba(255, 254, 254, 0.856);
  transition:all ease 0.5s;
}
